@use '../configs/variables';

// Each Block
.block {
  position: absolute;
  display: block;
  left: 10px;
  top: 1000px;
  width: 30px;
  height: 30px;
  overflow: hidden;

  cursor: pointer;
  background: #444;
  text-indent: -9999px;
}
